# SF Salaries Exercise

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

**Import pandas as pd.**

In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

**Read Salaries.csv as a dataframe called sal.**

In [ ]:
sal = pd.read_csv('Salaries.csv')

**Check the head of the DataFrame.**

In [ ]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Use the .info() method to find out how many entries there are.**

In [ ]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [ ]:
sal['BasePay'] = pd.to_numeric(sal['BasePay'], errors='coerce')

print(sal['BasePay'].mean())

66325.4488404877

**What is the highest amount of OvertimePay in the dataset ?**

In [ ]:
sal['OvertimePay'] = pd.to_numeric(sal['OvertimePay'], errors='coerce')
print(sal['OvertimePay'].max())

245131.88

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [ ]:
a = sal.loc[sal['EmployeeName'] == "JOSEPH DRISCOLL", 'JobTitle'].tolist()
a

['CAPTAIN, FIRE SUPPRESSION']

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [ ]:
b = sal.loc[sal['EmployeeName'] == "JOSEPH DRISCOLL", 'TotalPayBenefits'].tolist()
b

[270324.91]

**What is the name of highest paid person (including benefits)?**

In [ ]:
sal['TotalPay'] = pd.to_numeric(sal['TotalPay'], errors='coerce')
max_pay = sal['TotalPay'].max()
name = sal.loc[sal['TotalPay'] == max_pay, 'EmployeeName'].tolist()
name

['NATHANIEL FORD']

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
sal['TotalPay'] = pd.to_numeric(sal['TotalPay'], errors='coerce')
min_pay = sal['TotalPay'].min()
name2 = sal.loc[sal['TotalPay'] == min_pay, 'EmployeeName'].tolist()
name2

['Joe Lopez']

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [ ]:
sal.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**How many unique job titles are there?**

In [ ]:
J = sal['JobTitle'].unique()
print(len(J))

2159

**What are the top 5 most common jobs?**

In [ ]:
job_counts = sal.groupby('JobTitle').size().reset_index(name='count')
job_counts = job_counts[job_counts['JobTitle'].isin(J)]
job_counts = job_counts.sort_values('count', ascending=False)
print(job_counts.head().to_string(index=False))

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [ ]:
sal_2013 = sal[sal['Year'] == 2013]
job_counts_2013 = sal_2013.groupby('JobTitle').size().reset_index(name='count')
n = (job_counts_2013['count'] == 1).sum()
print(n)

202

**How many people have the word Chief in their job title? (This is pretty tricky)**

In [ ]:
mask = sal['JobTitle'].str.contains(r'\bChief\b', case=False, na=False)
chiefs = sal.loc[mask, 'EmployeeName'].unique().tolist()
print(len(chiefs))

477

**Is there a correlation between length of the Job Title string and Salary?**

In [ ]:
sal['title_len'] = sal['JobTitle'].str.len()
correlation = sal[['title_len', 'TotalPayBenefits']].corr()

print(correlation)

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!